*{
	box-sizing: border-box;
}

body{
	line-height: 1.5;
	color: black;
	font-family: tahoma;
}

.header{
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
}

.header span{
	display: block;
	font-weight: 300;
}

.header strong{
	font-weight: 900;
	text-transform: uppercase;
}

.section{
	padding: 30px 10%;
}

.main{
margin-top: 80px;
text-align:center;
}

.form{
	border: 5px solid blue;
	height: 309px;
	padding: 20px;
	text-align: center;
	margin-left: 30px;
}

.video, .form{
	display: inline-block;
	vertical-align: top;
}

.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.form input{
	width: 300px;
	border: 1px solid grey;
	padding: 17px;
	font-size: 18px;
	margin-top: 10px;
	display: block;
}

.btn{
	font-size: 18px;
	font-weight:900;
	color: white;
	background-color: blue;
	border: none;
	width: 300px;
	height: 60px;
	margin-top: 10px;
	display: block;
	margin: 11px auto;
}

.col {
	display: inline-block;
	text-align:center;
	margin: 10px 50px;
	font-size: 18px;
	font-weight: 700;
}

.col p{
	margin-top: 10px;
}

.fhead{
	text-align:center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 24px;
}

.feat{
	text-align: center;
	margin: 60px auto;
}

